<div class="card text-center">

  <div class="card-footer ">
      <%= github_url("TonishevAlexey", "TestGuru") %>
      <%= current_year %>
      <a href="https://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
      <p >Алексей Тонишев

        <small>
          <a href="/about" target="_target">О проекте</a> | <a href="/about/author" target="_target">Об авторе</a>
        </small>
      </p>
  </div>
</div>